.nav{
  width: 100vw;
  max-width: 1280px;
  height: 10vh;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  position: sticky;
  top: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter: blur(7px);
  z-index: 10; /* this is so blur effect still works*/
  box-shadow: 0px 0px 5px #BFCFE7;
  border-radius: 8px;
}
.btn{
  width: 100px;
  height: 40px;
  padding: 5px;
  background: transparent;
}
.btnContainer{
  box-sizing: border-box;
  border: 1px solid;
  border-color: #BFCFE7;
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
}
.slider{
  height: 100%;
  width: 50%;
  background-color: #BFCFE7;
  border-radius: 8px 0px 0px 8px;
  position: absolute;
  top: 0;
  z-index: -1;
  transition-property: transform, border-radius;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.cartLogoWrapper{
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: black;
}
.cartLogoWrapper > p{
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  margin: 0;
  background-color:#BFCFE7;
  color: #525CEB;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 500px) {
  .nav{
    max-width: 260px;
  }
} */