.nav{
  width: 100vw;
  max-width: 1280px;
  height: 10vh;
  min-height: 50px;
  box-sizing: border-box;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter: blur(3px);
}
.btn{
  width: 100px;
  height: 40px;
  padding: 5px;
  background: transparent;
}
.btnContainer{
  box-sizing: border-box;
  /* border: solid red; */
  position: relative;
}
.slider{
  height: 100%;
  width: 50%;
  background-color: aqua;
  border-radius: 0px 8px 8px 0px;
  position: absolute;
  top: 0;
  z-index: -1;
  transition-property: transform, border-radius;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
