.cart{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.checkoutBtn{
  font-size: 1.3rem;
}
.btn{
  background-color: #3D3B40;
  color: white;
}